div.ant-card-head {
    background: yellow;
}

.ant-card-head-title > * {
    font-size: 25px;
    font-weight: bold;
    background: yellow;
}
.ant-card-head-title, .ant-card-head-title > * {
    font-size: 25px;
    font-weight: bold;
    background: yellow;
    color: black;
}
.ant-card-body {
    background: #fbfbf9;
}
.ant-form-item .ant-form-item-label {
    line-height: 1;
}
